@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@500&display=swap');
body {
  background: #F2C5BB;
  color: #40271E;
  font-family: 'Shippori Mincho', serif;}


input[type="text"] , input[type="password"]{
    color: #40271E;
    font-family: 'Shippori Mincho', serif;
    height: 1.2em;
    width: 10em;
} 

input[type="submit"] {
    font-family: 'Shippori Mincho', serif;
    font-size: 15px;
    color: #fff;
    display: inline-block;
    padding: 5px 5px;
    text-align: center;
    background-color: #734230;
    border: 1px solid #734230;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 1s;
}

/*--hover--*/
input[type="submit"]:hover {
      color: #734230;
      background-color: #D9695F;
      border: 1px solid #734230;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 1s;
}
